.UserCard-cont{
    width: 220px;
    height: 70px;
    border-radius: 15px;
    background-color: var(--user-card);
    transition: 0.3s;
    display: block;
    position: absolute;
    right: 80px;
    top: 40px;
}
.UserCard-cont:active{
    transition: 0.3s;
    background-color: var(--user-card-hover);
}
.UserCard-cont:hover{
    transition: 0.3s;
    background-color: var(--user-card-active);
}
.UserCard-headport{
    height: 60px;
    margin-top: 5px;
    margin-left: 6px;
    border-radius: 15px;
    display: inline-block;
    vertical-align: top;
}
.UserCard-info{
    margin: 0;
    user-select: none;
    margin-left: 20px;
    vertical-align: top;
    display: inline-block;
}
.UserCard-username{
    margin: 0;
    user-select: none;
    font-weight: bolder;
    margin-top: 8px;
    letter-spacing:0.5px;
}
.UserCard-level{
    margin-top: 10px;
    background-color: var(--user-card-level);
    width: 40px;
    line-height: 18px;
    height: 18px;
    border-radius: 9px;
    text-align: center;
    padding-bottom: 2px;
}