.ResultPg{
    height: 100%;
    width: 100%;
    background: var(--bg-4);
    overflow-y: scroll;
}
.ResultPg::-webkit-scrollbar {
    width: 10px;
    transition: 0.3s;
}

.ResultPg::-webkit-scrollbar-thumb {
    background-color: var(--pg-scrollbar-t);
    border-radius: 5px;
    transition: 0.3s;
}

.ResultPg::-webkit-scrollbar-thumb:hover {
    background-color: var(--pg-scrollbar-h);
    transition: 0.3s;
}

.ResultPg::-webkit-scrollbar-thumb:active {
    background-color: var(--pg-scrollbar-a);
    transition: 0.3s;
}

.ResultPg::-webkit-scrollbar-track {
    border-radius: 10px;
}