.Side-Card {
    width: 240px;
    height: 400px;
    border-radius: 20px;
    transition: 0.3s;
    background-color: var(--sidebar-card-bg);
    
}
.Side-Card:hover {
    background-color: var(--sidebar-card-hover);
}
.Side-Card-Img{
    width: 90%;
    margin-left: 5% ;
    margin-top: 5%;
    border-radius: 20px;
    user-select: none;
}
.Side-Card-title-c{
    margin: 0;
    font-size: 22px;
    width: 60%;
    margin-left: 20%;
    overflow: hidden;
}
.Side-Card-title{
    margin: 0;
    font-size: 22px;
    display: inline-block;
    font-weight: bolder;
    text-align: center;
    user-select: none;
    white-space: nowrap;
    width: 100%;
    animation: 8s wordsLoop infinite alternate linear;
    color: var(--text);
}
.Side-Card-author{
    margin: 0;
    font-size: 16px;
    display: inline-block;
    text-align: center;
    user-select: none;
    white-space: nowrap;
    width: 100%;
    color: var(--2ntext);
}
.Side-Card-author-c{
    overflow: hidden;
    width: 80%;
    margin-left: 10%;
}
.Side-Card-time-c{
    width: 84%;
    margin-top: 18px;
    margin-left: 8%;
    height: 6px;
    background-color: var(--sidebar-card-time-c);
    border-radius: 3px;
    overflow: hidden;
    transition: 0.2s;
}
.Side-Card-time-c:hover{
    transform:scale(1.04,1.5) ;
    transition: 0.2s;
}
.Side-Card-time-m{
    height: 100%;
    transition: 0.03s;
    border-radius: 3px;
    background-color: var(--sidebar-card-time-m);
}
.Side-Card-time-s{
    margin: 0;
    width: 84%;
    margin-left: 8%;
    font-size: small;
    user-select: none;
    color: var(--sidebar-card-time-s);
}
.Side-Card-time-s-left{
    float: left;
}
.Side-Card-time-s-right{
    float: right;
}
.Side-Card-btns{
    text-align: center;
    width: 100%;
    margin-top:36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--sidebar-card-btn);

}
.Side-Card-btns-play{
    font-size: 40px;
    line-height: 36px;
    transition: 0.2s;
}
.Side-Card-btns-play:hover{
    transform: scale(1.05);
    transition: 0.2s;
}
.Side-Card-btns-actions{
    font-size: 26px;
    transition: 0.2s;
}
.Side-Card-btns-actions:hover{
    transform: scale(1.05);
    transition: 0.2s;
}
.Side-Card-btns-more{
    font-size: 20px;
}
.Side-card-btns-sep{
    user-select: none;
}
@keyframes wordsLoop {
    0% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-100% + 144px));
        -webkit-transform: translateX(calc(-100% + 144px  ));
    }
}

@-webkit-keyframes wordsLoop {
    0% {
        transform: translateX(calc(-100% + 144px));
        -webkit-transform: translateX(calc(-100% + 144px));
    }

    100% {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
    }
}